:host {
    display: flex;
    border-radius: 4px;
    height: 24px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray-color);
}

p {
    margin: 0 8px;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: var(--blue-color);
    color: black;
    border-radius: 4px;
    height: 100%;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

@media (max-width: 350px) {
    p {
        margin: 0 2px;
    }
}