button {
    background-color: var(--blue-color);
    border: none;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 600;
    color: var(--gray-dark-color);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: background-color 0.3s;
    width: 100%;
    justify-content: center;
}

button:hover {
    background-color: var(--blue-hover-color);
}

.red {
    background-color: var(--red-button-color);
}

.red:hover {
    background-color: var(--red-button-hover-color);
}