<h2 mat-dialog-title>Create Product</h2>
<mat-dialog-content>
  <app-default-input-file (imageSelected)="image = $event"></app-default-input-file>
  <app-default-input label="Name" placeholder="Ex. Potatoes" (inputValueChange)="name = $event"></app-default-input>
  <app-default-select label="Category" [options]="categories" (inputValueChange)="categoryId = $event"></app-default-select>
  <app-product-details-modal (productDetailsChange)="details = $event"></app-product-details-modal>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
  <button mat-button (click)="createProduct()">Guardar</button>
</mat-dialog-actions>