<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <app-default-input [label]="labelInput" [placeholder]="placeholderInput" (inputValueChange)="value = $event"></app-default-input>

</mat-dialog-content>
<mat-dialog-actions>
  <app-loader-modal *ngIf="isLoading"></app-loader-modal>
  <button mat-button mat-dialog-close>{{'MODALS.INPUT_MODAL.CANCEL' | translate}}</button>
  <button mat-button (click)="actionModal()">{{'MODALS.INPUT_MODAL.CONFIRM' | translate}}</button>
</mat-dialog-actions>