<table *ngIf="details!= null && details.length > 0" class="table">
    <thead>
        <tr>
            <th></th>
            <th>{{'DASHBOARD.PRODUCT.PRODUCT_DETAILS.DETAILS_TABLE.HEADERS.DATE' | translate}}</th>
            <th>{{'DASHBOARD.PRODUCT.PRODUCT_DETAILS.DETAILS_TABLE.HEADERS.QUANTITY' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let detail of details">
            <td>
                <img src="../../../../../../assets/icons/trash.svg" alt="trash" (click)="openDialog(detail.id)">
            </td>
            <td>{{ getFormattedDate(detail.expiration_date) }}</td>
            <td class="quantity">
                <app-counter [isLoading]="isLoading[detail.id]" [id]="detail.id" [quantity]="detail.quantity" (numberChange)="updateDetail($event)"></app-counter>
            </td>
        </tr>
    </tbody>
</table>

<p *ngIf="details != null && details.length <= 0">{{'DASHBOARD.PRODUCT.PRODUCT_DETAILS.DETAILS_TABLE.HEADERS.NO_DETAILS' | translate}}</p>