table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden; 
    border-top: 1px solid var(--table-color);
    border-radius: 12px;
    border-left: 1px solid var(--table-color);
    border-right: 1px solid var(--table-color);
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--table-color); 
}

tr:first-child th:first-child {
    border-top-left-radius: 12px; 
}

tr:first-child th:last-child {
    border-top-right-radius: 12px; 
}

tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 12px; 
}

.quantity {
    width: 10px;
}
