<div class="title-button">
    <h3>{{'DASHBOARD.PRODUCTS.PRODUCT_DETAILS_MODAL.TITLE' | translate}}</h3>
    <button mat-icon-button (click)="addDetail()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  
  <div *ngFor="let detail of productDetails; let i = index" class="input-container">
    <app-default-input-date 
    [(ngModel)]="productDetails[i].expiration_date" 
    (ngModelChange)="onDetailChange(i, 'expiration_date', $event)">
  </app-default-input-date>
  
  
    <app-default-input-number 
      [label]="'DASHBOARD.PRODUCTS.PRODUCT_DETAILS_MODAL.QUANTITY_INPUT.LABEL' | translate" 
      [placeholder]="'DASHBOARD.PRODUCTS.PRODUCT_DETAILS_MODAL.QUANTITY_INPUT.PLACEHOLDER' | translate" 
      [(ngModel)]="productDetails[i].quantity" 
      (ngModelChange)="onDetailChange(i, 'quantity', $event)">
    </app-default-input-number>
  
    <button mat-icon-button (click)="removeDetail(i)" class="remove-button">
      <mat-icon>remove</mat-icon>
    </button>
  </div>
  