.profile-container {
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    margin: 8px 0;
}

.profile-actions {
    margin-top: 16px;
    margin-bottom: 16px;
}

.profile-actions button {
    margin-right: 8px;
    padding: 8px 16px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
}

.profile-actions button:hover {
    background-color: var(--blue-hover-color);
}

@media (max-width: 450px) {
    .profile-actions button {
        margin-bottom: 8px;
    }

    button {
        width: 100%;
    }
}