<div class="profile-container">
    <div class="profile-info">
        <strong>{{ "PROFILE.USERNAME" | translate }}</strong>
        <p>{{ this.authStore.username() }}</p>
        <strong>{{ "PROFILE.CREATED_AT" | translate }}</strong>
        <p>{{ formatDate(this.authStore.createdAt()) }}</p>
        <strong>{{ "PROFILE.EMAIL" | translate }}</strong>
        <p>{{ this.authStore.email() }}</p>
    </div>
    <div class="profile-actions">
        <button (click)="openDialog()">{{ "PROFILE.CHANGE_PASSWORD" | translate }}</button>
        <button (click)="closeSession()">{{ "PROFILE.LOG_OUT" | translate }}</button>
    </div>
    <app-default-select [label]="'PROFILE.LABEL_LANGUAGE_SELECT' | translate" [options]="this.languages" [value]="this.authStore.languagePreference()" (inputValueChange)="changeLanguage($event)"></app-default-select>
</div>