<article [ngClass]="{'is_detail_product_article': isDetailProduct}">
    <div class="options" *ngIf="!isProduct">
        <img class="icons" src="../../../../assets/icons/edit.svg" alt="edit" (click)="openEditModal()">
        <img class="icons" src="../../../../assets/icons/trash.svg" alt="delete" (click)="openDeleteModal()">
    </div>
    <div class="image" (click)="onSelectItem()">
        <img [src]="isProduct ? (product.image ? '../../../../assets/products/' + product.image : '../../../../assets/categories_images/' + product.Category.id + '.webp') : '../../../../assets/images/house.webp'" 
             [alt]="house.name || product.name">
    </div>
    <div class="content" (click)="onSelectItem()">
        <div class="left-zone">
            <p *ngIf="!isDetailProduct" class="name">{{house.name || product.name}}</p>
            <p *ngIf="isProduct" [ngClass]="{'is_detail_product_p': isDetailProduct}" class="expiration-date">{{ this.getTheDaysToExpire() }}</p>
            <p *ngIf="isProduct" [ngClass]="{'category_detail': !isDetailProduct}" class="category">{{getCategoryName()}}</p>
        </div>
        <div class="right-zone">
            <p *ngIf="isProduct && !isDetailProduct" class="quantity">{{ getAllQuantity() }}</p>
        </div>
    </div>
</article>