<article (click)="onSelectItem()">
    <div class="image">
        <img [src]="isProduct ? '../../../../assets/images/product.avif' : '../../../../assets/images/house.jpg'" 
             [alt]="house.name || product.name">
    </div>
    <div class="content">
        <div class="left-zone">
            <p class="name">{{house.name || product.name}}</p>
            <p *ngIf="isProduct" class="expiration-date">{{ this.getTheDaysToExpire() }}</p>
            <p *ngIf="isProduct" class="category">{{product.Category.name}}</p>
        </div>
        <div class="right-zone">
            <p *ngIf="isProduct" class="quantity">{{this.getAllQuantity()}}</p>
        </div>
    </div>
</article>