article {
    display: flex;
    margin-bottom: 24px;
    cursor: pointer;
}

.image {
    max-width: 70px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.content {
    display: grid;
    margin-left: 16px;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
}

.left-zone {
    display: grid;
}

.left-zone > p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-zone {
    margin-left: 12px;
}

.options {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-right: 8px;
    align-items: center;
}

.icons {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
